- tab_statuses = %w{all failed pending unresponsive changed unchanged}
#sidebar= render 'shared/node_manager_sidebar'
#main
  .header
    %h2 Dashboard
  .item
    %ul#home-tabs
      - tab_statuses.each do |tab_status|
        %li(id="#{tab_status}-tab")
          = tab_status.humanize
      - tab_statuses.each do |tab_status|
        %div.panel(id=tab_status)
          = render 'nodes/nodes', 
            :nodes => instance_variable_get("@#{tab_status}_nodes"), 
            :more_link => nodes_path(:page => 2)

  .item
    - if @all_nodes.empty?
      .section
        %p There are no nodes known by Dashboard.
    - else
      .section
        %table.node_summary
          - [ { :title => 'Unresponsive',          :nodes => @unresponsive_nodes },
              { :title => 'Failed',                :nodes => @failed_nodes },
              { :title => 'Pending',               :nodes => @pending_nodes },
              { :title => 'Compliant (Changed)',   :nodes => @changed_nodes, :class_name => 'changed' },
              { :title => 'Compliant (Unchanged)', :nodes => @unchanged_nodes, :class_name => 'unchanged' },
              { :title => 'Total Nodes',           :nodes => @all_nodes } ].each do |section|
            = render 'node_summary_row', section
      .section
        = render 'statuses/run_failure', :nodes => @all_nodes
      .section
        %h3 Recently-reported nodes
        = render 'nodes/nodes', :nodes => @recently_reported_nodes, :more_link => nodes_path(:page => 2)
      .section
        = link_to 'Export all nodes as CSV', nodes_path(:format => 'csv')
